body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.one h1{
    font-size: 40px;
    color: #ed7966;
    /* border-left: 5px solid;
    border-image: linear-gradient(#f6b73c, #4d9f0c);
    border-image-slice: 1; */
   
}
.border{
    border-left: 4px solid #4d9f0c ;
    height: 80px;
    position: absolute;
    left: 9%;
    margin-left: -4px;
    top: 150px;
}

p{
    text-align: justify;
}
.skill{
   
    display: flex;
    margin-top: 10%;
    background-image: url(images/shape-4.png);
    background-repeat: no-repeat;
}
.new{
    font-size: 40px;
    color:darkslategray;
    
}
.one{
    margin-left: 10%;
}
.two img{
    width: 50%;
    margin-left: 30%;
    margin-top: -5%;
}
.button{
    text-decoration: none;
    background: linear-gradient(red,gray);
    color: white;
    padding:10px 30px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 2%;
}
.blue{
    color: rgb(152, 9, 218);
}
.mission-area h1{
    text-align: center;
    color: rgb(11, 11, 119);
}
.main{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
.design img{
    width: 50%;
}
.product img{
    width: 50%;
}
.result img{
    width: 50%;
}
.design{
    background-color: #ccabab;
    margin-left: 5%;
    padding: 0 3%;
    border-radius: 20px;
}
.product{
    background-color: #cc7676;
    margin-left: 5%;
    padding: 0 3%;
    border-radius: 20px;
}

.result{
    background-color: rgb(241, 223, 189);
    margin-left: 5%;
    padding: 0 3%;
    border-radius: 20px;
}
.girl{
  background-image: url(images/shape-1.png);
  background-position-x: left;
  background-repeat: no-repeat;
  background-size: 300px;
  margin-left: 5%;
}
.girl img{
    margin-left: 13%;
}
.para{
    margin-right: 5%;
    margin-top: -1%;
}
.form{
    margin-right: 10%;
    min-height: 50vh;
    background-color: rgba(5, 149, 168, 0.795);
    padding: 80px;
}
.up{
 margin-right: 20%;
 margin-top: 5%;
}
.up p{
   text-align: justify;
}
.input-box{
    height: 35px;
    outline: none;
}

.footer{
    height: 30vh;
    background-color: black;
    color: white;
}
.footer-part{
    text-align: center;
   margin-bottom: 20%;
}
.footer-part p{
    text-align: center;
 
}
.footer-part h1{
    padding-top: 40px;

}
.red{
    color: rebeccapurple;
}